<div class="layer active">

    🔥 Forest Fire

    <div class="layer-options">

        <label>
            <input type="checkbox"
                   id="freqCheck"
                   checked>
            Fire Frequency
        </label>

        <label>
            <input type="checkbox"
                   id="hotspotCheck"
                   checked>
            Hotspots
        </label>

        <label>
            <input type="checkbox"
                   id="firecountCheck"
                   checked>
            Fire Counts
        </label>

    </div>

</div>