<div class="layer active">

    💧 Ground Water Priority Zone

    <div class="layer-options">

        <label>
            <input
                type="checkbox"
                id="toggle-gwpz"
                checked
            >
            GWPZ Layer (Godavari Basin)
        </label>


        <label>
            <input
                type="checkbox"
                id="toggle-watershed"
                checked
            >
            Watershed Boundary
        </label>


        <label>
            <input
                type="checkbox"
                id="toggle-states"
                checked
            >
            State Boundary
        </label>


        <label>
            <input
                type="checkbox"
                id="toggle-village"
                checked
            >
            Village Boundary
        </label>


        <br>


        <label>
            <strong>GWPZ Opacity</strong>
        </label>

        <input
            type="range"
            id="gwpz-opacity"
            min="0"
            max="100"
            value="70"
            style="width:100%;"
        >


        <br>
        <br>


        <label>
            <strong>Watershed Level</strong>
        </label>

        <select
            id="watershed-level"
            class="form-select"
        >

            <option value="5" selected>
                Level 5 (Major Basin)
            </option>

            <option value="6">
                Level 6
            </option>

            <option value="7">
                Level 7
            </option>

            <option value="8">
                Level 8
            </option>

            <option value="9">
                Level 9
            </option>

            <option value="10">
                Level 10
            </option>

            <option value="11">
                Level 11
            </option>

            <option value="12">
                Level 12 (Micro Watershed)
            </option>

        </select>

    </div>

</div>